body {
    background-color: #f9f7fe;
    
            font-family: "Roboto", sans-serif;
        
}
a {
    color: #FC709B;
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;

}
header {
    border: 1px solid #f9f7fe;
    padding: 0 30px 0 0 ;
}

.search-form-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80% auto;
    font-size: 16px;
    padding: 15px 20px;

}
.search-form-button {
    background-color:#FC709B ;
    border:none ;
    margin: 5px ;
    border-radius: 6px;
    font-size: 16px;
    padding: 15px 30px ;
    color: white;
}
main {
    padding: 30px 0;

}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}
.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-app-details{
    font-size: 16px;
    line-height: 24px;
    color: #A8A8A8;
}
.weather-app-details strong{
    color:#885DF1 ;
}

.weather-app-temperature-container{
    display: flex;
}
.weather-app-temperature{
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}
.weather-app-icon{
    width: 88px;
    height: 88px;
}
.weather-app-unit{
    margin-top: 16px;
    font-size: 28px;

}

.weather-forecast-date{
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    
}
.weather-forecast-temperatures{
    font-size: 14px;
    text-align: center;
    color: #FC709B;
    display: flex;
    justify-content: space-around;

}


.weather-forecast{
    
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}
.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}
.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0 ;
    text-align: center;
    font-size: 14px;
    color:#A8A8A8 ;
}